* {
    font-family: 'Mulish', sans-serif;
}

.text-in-gray {
    color: #FFF;
    /* text-align: center; */
    font-size: 1rem;
    font-weight: 400;
    padding: 0 247px;
    padding-top: 0;
    padding-bottom: 48px;
}

.btn-primary {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: 0px;
    color: #FFFFFF;
    align-items: center;
}

/* header style  */
header {
    margin: 52px 135px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web-title {
    display: flex;
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
    align-items: center;
    gap: 8px;
}

.travel {
    color: #FF5400;
}


.menu {
    display: flex;
    gap: 44px;
    color: #424247;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #424247;
}

.home {
    color: #FF5400;
}

.banner {
    width: 1170px;
    height: 500px;
    margin: 0 auto;
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 16px;
    display: block;
}

.banner-title {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    border-radius: 16px;
    padding: 0 287px;
    padding-top: 106px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}



.box {
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.search {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
}

/* main-style */
main {
    margin: 100px 135px;
}

.agency-description {
    display: flex;
    justify-content: center;
}

.exp-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    margin-top: 0;
    margin-left: 247px;
}

.text-in-black {
    color: #131318;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 47px;

}

.agency-img {
    margin-right: 225px;
}

.point {
    padding: 10px 0;

}

img {
    width: 100%;
    height: 100%;
}

.destination {
    margin: 0 auto;
    text-align: center;
}

.destination-title {
    color: #131318;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 800;
}

.place {
    display: inline-block;
    justify-content: center;
}

.element {
    display: flex;
    justify-content: center;
    gap: 30px;
    height: 300px;
}

.maldives {
    background: url(Images/Rectangle\ 5.png), linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 132px 220px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    background-repeat: no-repeat;

}

.indonesia {
    background: url(Images/Rectangle\ 8.png), linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 132px 220px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    background-repeat: no-repeat;

}

.img-3 {
    background: url(Images/Rectangle\ 6.png), linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 125px 130px 130px 126px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    background-repeat: no-repeat;

}

.img-4 {
    background: url(Images/Rectangle\ 7.png), linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 125px 137px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    background-repeat: no-repeat;

}


.img-5 {
    background: url(Images/Rectangle\ 9.png), linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 125px 80px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    background-repeat: no-repeat;

}

.img-6 {
    background: url(Images/Rectangle\ 11.png), linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 132px 156px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    background-repeat: no-repeat;

}

.img-7 {
    background: url(Images/Rectangle\ 10.png), linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    border-radius: 16px;
    padding: 132px 260px;
    color: #FFF;
    font-size: 1.75rem;
    font-weight: 800;
    background-repeat: no-repeat;

}



/* card-style */

.choose-us {
    text-align: center;
    margin: 0 auto;
}

.us-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.us-des {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    padding: 0 399px;
}

.row {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.row1 {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;

}

.card-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.card1 {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px 55px 32px 32px;
}

.card2 {
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px 55px 32px 32px;
}

.card3 {
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    padding: 32px 55px 32px 32px;
    margin-left: auto;
    margin-right: auto;
}

.card-des {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}


.card-img {
    width: 64px;
    height: 64px;
}

/* deal style  */

.deal-title {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}


.board-1 {
    height: 800px;
    background: url(Images/Group\ 39.png), url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin: 24px auto;
}

.board-2 {
    height: 800px;
    background: url(Images/Group\ 40.png), url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin: 24px auto;
}

.bg-1 {
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 52px 77px 63px 50px;
    position: relative;
    left: 750px;
    top: 130px;
}

.bg-2 {
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    padding: 52px 77px 63px 50px;
    position: relative;
    left: 130px;
    top: 130px;
}

.date {
    display: flex;
    gap: 24px;
}

.tour-title {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.tour-des {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.phn-number {
    color: #FF5400;
    font-size: 20px;
    font-weight: 800;
}

.video-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 113px 135px;
}

.topText {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    position: relative;
    bottom: 250px;
}



.v-title {
    color: #131318;
    font-size: 2.5rem;
    font-weight: 800;
    padding-right: 254px;
}

.video-section li {
    color: #131318;
    font-size: 1rem;
    font-weight: 700;
    padding-right: 150px;
    padding-bottom: 16px;
}

video {

    border-radius: 16px;
    background: linear-gradient(180deg, #131318 -31.96%, rgba(19, 19, 24, 0.00) 100%);
}


/* newsletter style */
.newsletter {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.news {
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
}

.n-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}


.name {
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
    font-weight: 400;
    border-radius: 8px;
    border-style: none;
    background: rgba(19, 19, 24, 0.05);
    padding: 16px 251px 16px 20px;
    margin-bottom: 16px;
}

.tra {
    background: url(Images/Rectangle\ 8\ \(1\).png), url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    width: 760px;
    height: 422px;
    border-radius: 16px;


}

.t-title {
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    position: relative;
    top: 245px;
    left: 430px;
    text-align: center;
    padding-top: 5px;
    align-items: center;

}

.trav {
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 0;

}

.save-up {
    color: #FFF;
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
}

/* footer-style */
footer {
    background-color: #1313180D;
    padding-top: 90px;
    display: block;
}

.ft-title {
    display: flex;
    text-align: center;
    color: #131318;
    align-items: center;
    margin: 110px 600px 15px 763px;
}

.card-dess {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.social {
    padding: 32px 60px 32px 800px;
}

.copyright {
    color: #131318;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 300;
    padding: 110px 60px 110px 800px;
}